@import "../../../styles/variables";

.header {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;


    @media (min-width: 576px) {
        max-width: 540px;
    }
    @media (min-width: 768px) {
        max-width: 720px;
    }
    @media (min-width: 992px) {
        max-width: 960px;
    }
    @media (min-width: 1200px) {
        max-width: 1140px;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-grow: 1;

        @media (max-width: $mobileWidth) {
            justify-content: flex-start;
            margin-top: 8vh;
        }


        .middle-content {
            display: flex;
            flex-direction: column;
            color: white;
            width: 100%;
            text-align: center;
            justify-content: center;
            align-items: center;

            .title-hr {
                animation: slide-down 1s forwards 1s;
                transform: translateY(-400%);
                opacity: 0;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                @keyframes slide-down {
                    100% {
                        transform: translateY(0%);
                        opacity: 1;
                    }
                }

                .title {
                    display: flex;
                    justify-content: center;
                    background-color: rgba(0, 0, 0, .3);
                    font-size: 72px;
                    font-weight: bold;
                    width: 100%;

                    .title-text {
                        position: relative;

                        img {
                            width: 68px;
                            position: absolute;
                            top: 68px;
                            right: -25px;
                            transform: rotate(-21deg);

                            @media (max-width: $mobileWidth) {
                                top: 48px;
                            }
                        }
                    }

                    @media (max-width: $mobileWidth) {
                        font-size: 48px;
                        width: 70%;
                        min-width: 70%;
                    }
                }

                hr {
                    border-top: 1px solid #fff;
                    width: 100%;
                    margin-top: 30px;
                    margin-bottom: 30px;

                    @media (max-width: $mobileWidth) {
                        width: 70%;
                        margin-top: 10px;
                        margin-bottom: 10px;
                    }
                }
            }
            .lower-middle-content {
                display: flex;
                width: 480px;
                flex-direction: column;

                @media (max-width: $mobileWidth) {
                    width: 70%;
                }

                .sub-title {
                    font-size: 32px;
                    transform: translateX(-150%);
                    opacity: 0;
                    animation: slide-in 1s forwards 1s;
                }

                @keyframes slide-in {
                    100% { transform: translateX(0%); opacity: 1 }
                }

                .button-badges {
                    transform: translateY(150%);
                    opacity: 0;
                    animation: slide-up 1s forwards 1s;

                    @keyframes slide-up {
                        100% { transform: translateY(0%); opacity: 1 }
                    }

                    .login-button {
                        margin: 20px auto 0;
                        height: 60px;
                        flex: 1 0 auto;
                        width: 100%;

                        span {
                            margin-left: 10px;
                            font-size: 3vh;
                        }
                    }

                    .badges {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;

                        @media (max-width: $mobileWidth) {
                            flex-direction: column;
                        }

                        .badge {
                            padding: 30px 30px 30px;
                            max-width: 180px;

                            @media (max-width: $mobileWidth) {
                                padding: 20px 10px 0 10px;
                            }

                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        @keyframes fadeIn {
            from { opacity: 0; }
        }

        .bottom-content {
            @media (max-height: 560px) {
                display: none;
            }

            position: absolute;
            bottom: 10px ;
            color: white;
            height: 40px;

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            animation: fadeIn 1s infinite alternate;
            cursor: pointer;
            text-decoration: none;
        }
    }

    .stamp {
        @media (min-width: $mobileWidth) {
            position: absolute;
            bottom: 110px;
            right: 176px;
        }
        @media (max-width: $mobileWidth) {
            position: relative;
            margin-top: 100px;
        }

        transform: rotate(-30deg);
        color: #94585c;
        font-size: 30px;
        font-weight: 700;
        border: 0.25rem solid #94585c;
        display: inline-block;
        padding: 0.25rem 1rem;
        text-transform: uppercase;
        border-radius: 1rem;
        font-family: 'Courier';
        -webkit-mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png');
        -webkit-mask-size: 944px 604px;
    }
}
