.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    background-color: #ebebeb;

    .content {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;

        margin-top: 20px;
    }
}
