.user-container {
    display: flex;
    flex-direction: column;
    max-width: 318px;

    .long-field {
        width: 100%;
    }

    .settings {
        display: flex;
        flex-direction: column;

        .row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
            margin-bottom: 5px;
            font-size: 10px;

            .short-field {
                max-width: 88px;
                padding-bottom: 10px;
            }

            .transportation{
                display: flex;
                a {
                    text-decoration: underline;
                }
            }

            .whatisit {
                a {
                    font-size: 12px;
                }
            }

            .hour {
                margin-left: 15px;
            }
        }

        .hours {
            justify-content: flex-start;
        }
    }

    .plan {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .text {
            display: flex;
            align-items: center;
        }

        button {
            display: flex;
            align-items: center;
        }
    }
}

