$margin: 12px;
$containerHeight: 450px;
body {
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 24px;

    background: rgba(128, 128, 128, 0.19);
    margin: $margin $margin $margin $margin;
}

#appBar-container {
    margin-bottom: $margin;
}
#sideBar-container{
    margin: 0 0 0 $margin;
}

#main-container {

    .card-content {
        overflow-y: scroll;
        max-height: $containerHeight;
    }
}

