.appear,
.enter {
    opacity: 0;
}

.appearActive,
.enterActive {
    transition: opacity .4s linear;
    opacity: 1;
}

.exit {
    opacity: 1;
}

.exitActive {
    opacity: 0;
    height: 0px;
    transition: opacity .4s linear;
}

