//@import url('https://fonts.googleapis.com/css?family=Assistant&subset=hebrew'); moved it before </body> - https://stackoverflow.com/questions/25230264/how-to-keep-css-from-render-blocking-my-website

html {
    scroll-behavior: smooth;
}

html, body, #react-app, #react-app>div {
    height: 100%;
    margin: 0 auto;
}
