@import "variables";

.app-bar {
    .toolbar {
        display: flex;
        width: 100%;
        padding: 0;

        .logo{
            cursor: pointer;
            display: inline-flex;
            align-items: center;
        }

        .logout {
            margin-right: auto;

            button {
                padding: 8px 16px;
            }

            .goPremiumButton {
                @media (max-width: $mobileWidth) {
                    display: none;
                }
            }

            @media (max-width: 576px) {
                padding-left: 0px;
            }
            @media (min-width: 577px) {
                padding-left: 10px;
            }
        }
    }
}
