@import "./Dashboard";

.daily-report {
    .daily-date {
        margin-right: 10px;
    }
}

.live-report {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .live-time {
        font-size: 40px;
        margin-bottom: 10px;
    }

    .auto-complete {
        margin-top: 20px;
        margin-bottom: 50px;

        .warning {
            .icon {
                color: orange;
                vertical-align: middle;
                margin-left: 5px;
            }
            margin-top: 20px;
            text-align: center;
        }
    }
}
