$containerHeight: 800px;
$margin: 12px;

.button {
    height: 100%;
}


#dashboard
{
    display: flex;
    background: rgba(128, 128, 128, 0.19);
    min-height: 100%;
    flex-direction: column;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Assistant', sans-serif;

    #dashboard-container {
        max-width: 1200px;

        #appBar-container {
            margin-bottom: $margin;
        }

        #grid-container {
            padding: 0 9px;

            #sideBar-container {
            }

            #main-container {
                .card-content {
                    overflow-y: visible;
                    max-height: $containerHeight;

                    .controls-line {
                        margin-bottom: 15px;

                        .action-button {
                            margin-right: 10px;
                            padding: 5px 4px;
                            min-width: 40px;
                        }
                    }

                    .divider {
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }
}
