.employee-content {
    display: flex;
    flex-direction: column;

    .employee-content-container {
        display: flex;
        flex-direction: row;

        .mobile-sc {
            display: flex;
            padding: 35px;
            flex: 1;

            img {
                width: 100%;
            }
        }

        .badges {
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: center;

            .badge {
                a {
                    flex: 1;
                }
            }
        }
    }
}
