@import "./Dashboard";
@import "variables";

.limit-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
    padding: 20px 0 20px;
    color: material-color('grey', '600');

    .icon {
        padding-left: 10px;
        font-size: 16px;
    }

    .text {
        font-size: 16px;
    }

    .button {
        font-size: 16px;
        color: material-color('orange', '700');
    }
}

.cell {
    border: 1px solid transparent;
    margin-left: 10px;
    min-width: 140px;
    display: inline-block;

    &:hover {
        border: 1px solid #eee;
    }
}

.header {
    opacity: 0.5;
    .header-item {
        text-align: center;
    }
}

