@import "variables";

.switch-label {
    color:  material-color('grey', '500');
}

.odd {
    background: material-color('brown', '50');
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px
}
