@import "variables";

#features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 768px;
    margin: 0 auto;

    .title {
        font-size: 30px;
        font-weight: bold;
        margin-top: 50px;
    }

    .sub-title {
        opacity: 0.5;
        font-size: 20px;
        font-weight: bold;
        margin-top: 15px;
        margin-bottom: 25px;
    }

    .features-container {
        display: flex;
        flex-direction: column;
    }
}
