@import "variables";

.feature {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px 20px;
    border-radius: 6px;
    transition: background-color 0.3s;
    flex: 1 0 auto;
    height: 200px;
    cursor: pointer;

    &:hover {
        background-color: rgba(0, 0, 0, 0.12);
    }

    @media (max-width: $mobileWidth) {
        height: 80px;
        padding: 50px 20px;
    }

    .side1 {
        width: 50%;

        @media (max-width: $mobileWidth) {
            width: 100%;
        }

        .feature-title-container {
            display: flex;
            flex-direction: row;

            @media (max-width: $mobileWidth) {
                justify-content: center;
            }

            .feature-icon {
                color: $primary;

            }

            .feature-title {
                justify-content: center;
                align-items: center;
                margin-right: 15px;
                font-size: 40px;
                font-weight: bold;
                opacity: 0.8;
            }

        }

        .feature-description {
            text-align: start;
            font-size: 20px;
            opacity: 0.6;

            @media (max-width: $mobileWidth) {
                text-align: center;
            }

        }
    }

    .side2 {
        width: 50%;
        cursor: pointer;

        @media (max-width: $mobileWidth) {
            display: none;
        }
    }
}

