@import "variables";
@import "palette-primary";

.footer {
    background-color: $palette-primary-900;
    color: $palette-primary-200;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding-bottom: 20px;


    .footer-container {
        .weak {
            color: $palette-primary-100;
            margin-left: 5px;
        }

        .signature {
            padding-top: 5px;
            padding-bottom: 12px;
            flex-direction: row;

            a {
                color: $palette-primary-100
            }

            .like {
                padding-right: 10px;
            }
        }

        .term-usage {
            display: flex;
            justify-content: center;


            a {
                color: $palette-primary-100
            }
        }
    }
}
