#header {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 576px) {
        max-width: 540px;
    }
    @media (min-width: 768px) {
        max-width: 720px;
    }
    @media (min-width: 992px) {
        max-width: 960px;
    }
    @media (min-width: 1200px) {
        max-width: 1140px;
    }


    .app-bar {
        background-color: transparent;
        box-shadow: none;

        .right-buttons-group {
            flex-grow: 1;
        }

        .left-buttons-group {

        }
    }

    #content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-grow: 1;

        #middle-content {
            color: white;//#4483ff;
            width: 100%;
            text-align: center;

            .title {
                background-color: rgba(0, 0, 0, .3);
                font-size: 72px;
                font-weight: bold;
                width: 100%;
                min-width: 100%;
            }
            hr {
                border-top: 1px solid #fff;
                width: 100%;
                margin-top: 30px;
                margin-bottom: 30px;
            }
            .sub-title {
                font-size: 32px;
            }
            .login-button {
                margin-top: 20px;
                width: 480px;
                height: 60px;
                span {
                    margin-left: 10px;
                    font-size: 3vh;
                }
            }
        }
    }
}
