@import "variables";

.header {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;


    @media (min-width: 576px) {
        max-width: 540px;
    }
    @media (min-width: 768px) {
        max-width: 720px;
    }
    @media (min-width: 992px) {
        max-width: 960px;
    }
    @media (min-width: 1200px) {
        max-width: 1140px;
    }


    .app-bar {
        background-color: transparent;
        box-shadow: none;
        color: white;

        @media (max-width: $mobileWidth) {
            display: none;
        }

        .right-buttons-group {
            flex-grow: 1;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-grow: 1;

        @media (max-width: $mobileWidth) {
            justify-content: flex-start;
            margin-top: 8vh;
        }


        .middle-content {
            display: flex;
            flex-direction: column;
            color: white;
            width: 100%;
            text-align: center;
            justify-content: center;
            align-items: center;

            .title {
                display: flex;
                justify-content: center;
                background-color: rgba(0, 0, 0, .3);
                font-size: 72px;
                font-weight: bold;
                width: 100%;
                min-width: 100%;

                .title-text {
                    position: relative;

                    img {
                        width: 68px;
                        position: absolute;
                        top: 68px;
                        right: -25px;
                        transform: rotate(-21deg);

                        @media (max-width: $mobileWidth) {
                            top: 48px;
                        }
                    }
                }
                @media (max-width: $mobileWidth) {
                    font-size: 48px;
                    width: 70%;
                    min-width: 70%;
                }
            }
            hr {
                border-top: 1px solid #fff;
                width: 100%;
                margin-top: 30px;
                margin-bottom: 30px;

                @media (max-width: $mobileWidth) {
                    width: 70%;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }
            .lower-middle-content {
                display: flex;
                width: 480px;
                flex-direction: column;

                @media (max-width: $mobileWidth) {
                    width: 70%;
                }

                .sub-title {
                    font-size: 32px;
                }
                .login-button {
                    margin: 20px auto 0;
                    height: 60px;
                    flex: 1 0 auto;
                    width: 100%;

                    span {
                        margin-left: 10px;
                        font-size: 3vh;
                    }
                }

                .badges {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;

                    @media (max-width: $mobileWidth) {
                        flex-direction: column;
                    }

                    .badge {
                        padding: 30px 30px 30px;
                        max-width: 180px;

                        @media (max-width: $mobileWidth) {
                            padding: 20px 10px 0 10px;
                        }

                        img {
                            width: 100%;
                        }
                    }

                }
            }
        }

        @keyframes fadeIn {
            from { opacity: 0; }
        }

        .bottom-content {
            @media (max-height: 560px) {
                display: none;
            }

            position: absolute;
            bottom: 10px ;
            color: white;
            height: 40px;

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            animation: fadeIn 1s infinite alternate;
            cursor: pointer;
            text-decoration: none;
        }
    }
}
