@import "variables";

.stacked-bar-graph {
    flex: 1;
    height: 13px;

    span {
        display: flex;
        height:100%;
    }

    .bar {
        display: inline-flex;
    }

    .regular-hours-bar {
        @extend .bar;
        background: $hourRate100;
    }

    .extra-125-bar {
        @extend .bar;
        background: $hourRate125;
    }

    .extra-150-bar {
        @extend .bar;
        background: $hourRate150;
    }

    .extra-175-bar {
        @extend .bar;
        background: $hourRate175;
    }

    .extra-200-bar {
        @extend .bar;
        background: $hourRate200;
    }

    .details {
        display: inline-flex;
        margin-right: 10px;
        opacity: 0.5;
    }
}
