@import "variables";

.elem {
    margin: 0 10px;
}

.shift-members {
    display: flex;
    @media (max-width: 576px) {
        flex-direction: column;
    }
    @media (min-width: 577px) {
        flex-direction: row;
    }

    .date {
        .hebrew-day {
            display: flex;
            align-items: center;
            min-width: 13px;
        }
        display: flex;
        width: 130px;
    }

    .times {
        @media (max-width: 576px) {
            margin: 0 10px;
            display: flex;
            flex-direction: column;
        }
        .time {
            width: 50px;
            direction: ltr;
            margin: 0 10px;

            input {
                text-align: center
            }
        }
    }
}

.name-container {
    display: flex;
    flex-direction: row;

    .icon {
        padding-top: 5px;
    }
    .name {
            display: flex;
        @media (max-width: 576px) {
            align-items: center;
        }
        @media (min-width: 577px) {
            min-width: 100px;
            padding-top: 5px;
        }
    }
}

