@import "variables";

.login-register {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 310px;
    transition: max-height 300ms linear;

    .error-msg {
        margin-top: 10px;
        color: material-color('red', '400');
        text-align: center;
    }

    .password-icon {
        height: initial;
    }

    .login-register-footer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;

        .login-button  {
            margin-top: 20px;
            margin-bottom: 10px;
            padding-left: 25px;
            padding-right: 20px;

            .button-text {
                margin-left: 10px;
            }
        }

        .footer-text {
            display: flex;
            flex-direction: row;

            .question {
                opacity: 0.5;
                margin-left: 7px;
            }

            .change-mode {
                cursor: pointer;
            }

        }
    }
}
