@import "variables";

.monthly-report-block {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    .monthly-report-header {
        display: flex;
        flex-direction: row;
        align-items: baseline;

        .toggle-button {
            padding-left: 0px;
        }

        .base-element {
            padding: 0 10px 0 10px;
            height: 35px;
            align-items: center;
            display: inline-flex;
        }

        .uid {
            @extend .base-element;
            min-width: 80px;
        }
        .name {
            @extend .base-element;
            min-width: 100px;
        }
    }

    .monthly-report-body {
        padding-right: 45px;
    }
}
