@import "variables";

.monthly-report-block {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    .shiftsList-enter {
        opacity: 0.01;
    }

    .shiftsList-enter.shiftsList-enter-active {
        opacity: 1;
        transition: opacity 500ms ease-in;
    }

    .shiftsList-leave {
        opacity: 1;
    }

    .shiftsList-leave.shiftsList-leave-active {
        opacity: 0.01;
        transition: opacity 300ms ease-in;
    }

    .shiftsList-appear {
        opacity: 0.01;
        transition: opacity .5s ease-in;
    }

    .shiftsList-appear.shiftsList-appear-active {
        opacity: 1;
    }

    .monthly-report-header {
        display: flex;
        flex-direction: row;
        align-items: baseline;

        .base-element {
            padding: 0 10px 0 10px;
            height: 35px;
            align-items: center;
            display: inline-flex;
        }

        .uid {
            @extend .base-element;
            min-width: 80px;
        }
        .name {
            @extend .base-element;
            min-width: 100px;
        }
    }

    .monthly-report-body {

        padding-right: 60px;
    }
}
