@import "variables";

.monthly-report-block {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    .monthly-report-header {
        display: flex;
        flex-direction: row;
        align-items: baseline;

        .toggle-icon {
        }

        .base-element {
            padding: 0 10px 0 10px;
            height: 35px;
            align-items: center;
            display: inline-flex;
        }
        .uid {
            @extend .base-element;
            min-width: 80px;
        }
        .name {
            @extend .base-element;
            min-width: 100px;
        }

        .details {
            display: inline-flex;

            .regular-hours {
                @extend .base-element;
                color: $hourRate100;
            }
            .extra-125 {
                @extend .base-element;
                color: $hourRate125;
            }
            .extra-150 {
                @extend .base-element;
                color: $hourRate150;
            }
            .extra-175 {
                @extend .base-element;
                color: $hourRate175;
            }
            .extra-200 {
                @extend .base-element;
                color: $hourRate200;
            }
        }
    }
}
