@import "variables";

.icon {
    margin-top: 5px;
    margin-left: 5px;
    text-align: center;
    width: 32px;

    .pending {
        color: $palette-secondary-600;
        cursor: pointer;
    }

    .approved {
        color: material-color('green', '200');
        cursor: auto ;
    }
}
