@import "variables";
.shift {
    &.holiday {
        color: $holidayColor;
    }

    input {
        &.holiday {
            color: $holidayColor;
        }
    }

    display: flex;
    flex-direction: row;
    padding-right: 50px;

    .elem {
        padding: 0 10px;
    }

    .name-container {
        display: flex;

        .icon {
            padding-top: 5px;
        }
        .name {
            min-width: 100px;
            padding-top: 5px;
        }
    }

    .warning {
        margin-top: 7px;
        color: orange;
    }
}
