#sideBar {
    .drawer-header {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0 8px;
        cursor: pointer;
        min-height: 48px;
    }
}
