#statistics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background: url(./images/beta.png) no-repeat fixed center;
    width: 100%;
    height: auto;

    .content {
        width: 720px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .cells {
            display: flex;
            flex-direction: row;
        }
    }
}
