.elem {
    margin: 0 10px;
}

.list-item {
    text-align: right;
    padding-top: 7px;
    padding-bottom: 7px;
    
    &.selected {
        padding-top: 4px;
        padding-bottom: 4px;
    }
    .line {
        display: flex;
        flex-direction: row;
        align-items: center;

        .name {
            margin-left: 5px;
            text-align: start;
        }
    }
}
