.user-container {
    display: flex;
    flex-direction: column;
    max-width: 318px;

    .long-field {
        width: 100%;
    }

    .company-settings {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .short-field {
            max-width: 88px;
        }
    }
}

