@import "~sass-material-colors/sass/sass-material-colors";
@import "palette-primary";
@import "palette-secondary";

$primary: $palette-primary-500; //material-color('brown', '500');
$secondary: $palette-secondary-500; //material-color('orange', '500');
$lightPrimary: $palette-primary-100; //material-color('brown', '100');

$hourRate100: material-color('green', '400');
$hourRate125: material-color('green', '100');
$hourRate150: material-color('amber', '400');
$hourRate175: material-color('orange', '400');
$hourRate200: material-color('deep-orange', '400');
$holidayColor: material-color('deep-orange', '400');
$mobileWidth: 575px;
