@import '../../node_modules/sass-material-colors/sass/sass-material-colors';

$hourRate100: material-color('lime', 'a700');
$hourRate125: material-color('amber', 'a700');
$hourRate150: material-color('orange', 'a700');
$hourRate175: material-color('deep-orange', 'a700');
$hourRate200: material-color('brown', '700');
