@import '../../node_modules/sass-material-colors/sass/sass-material-colors';

$hourRate100: material-color('green', '400');
$hourRate125: material-color('yellow', '400');
$hourRate150: material-color('amber', '400');
$hourRate175: material-color('orange', '400');
$hourRate200: material-color('deep-orange', '400');
