.add-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 9px;

    .add {
        display: flex;
        cursor: pointer;
        min-width: 0px;
        font-size: 16px;
    }
}
